.main {
    margin-left: 20%;
    margin-right: 20%; 
    margin-bottom: 0%;
}
#header {
  padding-top: 40%;
}
li a {
  float: right;
  color: hsl(246deg 100% 56%);
  display: block;
  padding: 1%;
}
ul {
  list-style-type: none;
  margin-right: 5%;
  margin-top: -6%;
}

#site {
  margin-top: 5%;
  margin-left: 3%;
}
.content1 {
  margin-top: 10%;
  margin-left: 3%;
  word-spacing: 0%;
  line-height: 2%;
}
#p1 {
  color: hsl(0deg 0% 9%);
  font-weight: bolder;
}
.first {
  float: left;
  background: Red;
  padding: 5% 10%;
  margin: 2%;
}
.second {
  float: left;
  background: Red;
  padding: 5% 10%;
  margin: 2%;
}
.third {
  float: left;
  background: Red;
  padding: 5% 10%;
  margin: 2%;
}
.content2 {
    padding-left: 10%;
}
.fourth {
    float: left;
    background: Red;
    padding: 1% 7%;
    margin: 2%;
    text-align: center;
    line-height: 0%;
  }
  .fifth {
    float: left;
    background: Red;
    padding: 1% 7%;
    margin: 2%;
    text-align: center;
    line-height: 0%;
  }
  .sixth {
    float: left;
    background: Red;
    padding: 1% 7%;
    margin: 2%;
    text-align: center;
    line-height: 0%;
  }
  .content3 {
      left: 50%;
  }
